<div class='container'>
  <h1>Stupid Coaching</h1>
  <form action="/answer">
    <label for="question"><p>Ask your coach anything:</p></label>
    <div class="textbox-with-button">
      <input type="text" name="question" class="text-input">
      <input type="submit" value="Ask" class='submit-btn'>
    </div>
  </form>
</div>
