<div class='container'>
  <h1>Stupid Coaching</h1>
  <form action="/answer">
    <p>Ask your coach anything:</p>
    <div class="textbox-with-button">
      <input type="text" name="question" class="text-input" id='ask_question'>
      <input type="submit" value="Ask" class='submit-btn'>
    </div>
  </form>
</div>
